.info {
  margin-bottom: 15px;
}

p {
  margin-top: 20px;
}

.text {
  font-size: var(--size);
  line-height: 30px;
  font-weight: var(--light);
}

.info-img {
  margin: 10px auto 0;
  height: 417px;
  width: 340px;
}

.image-squares {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 324px;
  border-radius: 20px;
  background-image: var(--gradient_secondary);
}

.square-image-container img {
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  object-fit: cover;
  border-radius: 20px;
}

.square {
  position: absolute;
  width: 79px;
  height: 107px;
  top: 0;
  right: 0;
  background-image: var(--gradient_secondary);
  z-index: -1;
  border-radius: 15px;
}
.square::before {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  background-color: var(--bg-main);
  border-radius: 15px;
}

.square.square_second {
  top: unset;
  right: unset;
  bottom: 0;
  left: 0;
  width: 104px;
  height: 81px;
}

.cta {
  margin: 20px auto 0;
  min-width: 330px;
  width: 330px;
}

@media (min-width: 1280px) {
  .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "heading images"
      "paragraph images";
    gap: 40px;
  }

  .info.second,
  .info.third,
  .info.fourth {
    margin-top: 40px;
  }

  .info.second {
    grid-template-areas:
      "heading heading"
      "images paragraph";
  }

  .info.third {
    grid-template-columns: 53% 1fr;
  }

  .info.fourth {
    grid-template-areas:
      "heading heading"
      "images paragraph"
      "images cta";
  }

  .heading {
    grid-area: heading;
  }

  .text-container {
    grid-area: paragraph;
  }

  .text,
  .text strong {
    line-height: 50px;
    font-size: 22px;
  }

  .image-container {
    grid-area: images;
  }

  .info-img {
    margin: 0 0 0 auto;
    width: 443px;
    height: 544px;
  }

  .square-image-container {
    width: 320px;
    height: 421px;
  }

  .square {
    width: 106px;
    height: 139px;
  }

  .square.square_second {
    width: 139px;
    height: 106px;
  }

  p {
    margin-top: 0;
  }

  .text.margin {
    margin-top: 60px;
  }

  .cta {
    width: 100%;
    height: 63px;
    border-radius: 30px;
    grid-area: cta;
  }

  .cta span {
    font-size: 28px;
  }
}
