footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px var(--border-margin) 0;
  padding: 0 0 30px;
}

footer a {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  line-height: 30px;
  text-decoration: none;
  font-weight: var(--normal);
  cursor: pointer;
  transition: var(--transition);
  width: fit-content;
}

footer a:hover {
  opacity: 0.6;
}

footer a img {
  height: 30px;
  width: auto;
  filter: invert(1);
}

footer .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

footer .socials a img {
  height: 35px;
  width: auto;
}

footer .copyrights,
footer .copyrights span,
footer .copyrights span a,
footer .privacy a,
footer .privacy button{
  font-size: 14px;
  line-height: 30px;
  font-weight: var(--normal);
}

footer .copyrights {
  display: flex;
  flex-direction: column;
}

footer .copyrights span{
  display: flex;
}

footer .copyrights span a{
  padding-left: 5px;
}

footer .privacy button{
  background:  none;
  border: none;
  transition: var(--transition);
}

footer .privacy button:hover{
  opacity: 0.7;
}

@media (min-width: 1280px) {
  footer {
    max-width: var(--width);
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    margin-top: 80px;
    gap: 25px;
  }

  footer a {
    font-size: 24px;
    line-height: 30px;
  }

  footer .socials {
    gap: 40px;
  }

  footer .socials a img {
    height: 60px;
  }

  footer .copyrights,
  footer .privacy a,
  footer .privacy button{
    font-size: 18px;
  }

  footer .copyrights {
    flex-direction: row;
    justify-content: space-between;
  }
}
