section.hero {
  position: relative;
  top: 50px;
  width: 100%;
  height: 194px;
  display: flex;
  justify-content: end;
  overflow: hidden;
}

section.hero img {
  object-fit: cover;
  height: auto;
  width: 100%;
}

section.hero.triangle .hero-img {
  position: relative;
  width: 75%;
}

section.hero.triangle img {
  width: 100%;
  object-position: top;
}

section.hero.triangle .hero-img .gradient-element {
  display: block;
  position: absolute;
  top: 0;
  left: -1px;
  height: 100%;
  width: 100px;
  clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
}

section.hero.triangle .hero-img .gradient-element:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    256deg,
    transparent 34%,
    var(--bg-main) 66%
  );
}

section.hero header {
  position: absolute;
  top: 0;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: fit-content;
  height: 100%;
}

section.hero header h1.heading span {
  font-size: var(--big-size);
}

section.hero header h1 {
  font-weight: var(--normal);
}

section.hero .heading.underline {
  position: relative;
  display: inline-block;
  padding-bottom: 130px;
  font-weight: var(--bold);
  overflow: visible;
  z-index: 1;
}

section.hero .heading.underline::before {
  content: "";
  display: block;
  position: absolute;
  top: 19px;
  left: -3px;
  width: calc(100% + 3px);
  height: 10px;
  border-radius: 3px;
  background-image: linear-gradient(to right, #8b2b80, #dd2427);
  z-index: -1;
}

@media (min-width: 600px) {
  section.hero .heading.underline::before {
    top: 30px;
  }

  section.hero {
    height: 400px;
  }

  section.hero.triangle .hero-img .gradient-element {
    width: 200px;
    left: -2px;
  }
}
@media (min-width: 1280px) {
  br.mobile-br {
    display: none;
  }

  section.hero {
    position: relative;
    display: flex;
    justify-content: end;
    top: 75px;
    height: 575px;
    padding: 0 10px;
    width: var(--width);
    max-width: 100%;
    margin: 0 auto;
  }

  section.hero header {
    gap: 100px;
  }

  section.hero header h1.heading span,
  section.hero header h1 {
    font-size: 60px;
  }

  section.hero img {
    width: auto;
    height: 574px;
  }

  section.hero:before {
    position: absolute;
    display: block;
    content: "";
    width: 100px;
    height: 100%;
    background-image: linear-gradient(to right, transparent, var(--bg-main));
    top: 0;
    right: 9px;
    z-index: 1;
  }

  section.hero .cta {
    min-width: 586px;
  }

  section.hero .heading.underline {
    padding-bottom: 250px;
  }

  section.hero .heading.underline::before {
    top: 45px;
    height: 30px;
  }

  section.hero.triangle .hero-img .gradient-element {
    width: 200px;
  }

  section.hero.triangle .hero-img .gradient-element:before {
    background-image: linear-gradient(
      260deg,
      transparent 34%,
      var(--bg-main) 66%
    );
  }
}
