.media.wrapper .heading h2 {
  font-weight: var(--bold);
}

.media-gallery-wrapper {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.gallery-container {
  overflow: hidden;
}

.media-gallery {
  display: inline-flex;
  gap: 15px;
  width: 100%;
  transition: var(--transition);
}

.media-gallery .page {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  width: 100%;
  flex-shrink: 0;
  align-content: start;
}

.media-gallery .page .element-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.media-gallery .page .element-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.media-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.media-pagination button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background-color: #332c34;
  border: none;
  border-radius: 5px;
  transition: var(--transition);
  transform-origin: top;
  font-size: 16px;
  line-height: 16px;
  transform: translateY(0px);
}

.media-pagination button:hover {
  transform: translateY(-3px);
}

.media-pagination button.active:hover {
  transform: translateY(0px);
}

.media-pagination button.active {
  background-color: #f4f4f4;
  color: #000;
}

.media-main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.media-main-nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 37px;
  font-size: 16px;
  color: #000;
  background-color: #f4f4f4;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  transform: translateY(0px);
}

.media-main-nav a:hover {
  transform: translateY(-3px);
}

.media-main-nav a.active:hover {
  transform: translateY(0px);
}

.media-main-nav a.active {
  background-color: #9f2780;
  font-weight: var(--bold);
  color: #fff;
}

.media-modal-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: #17111380;
  backdrop-filter: blur(3px);
  z-index: var(--z0);
  opacity: 0;
  scale: 0.5;
  transition: var(--transition);
  pointer-events: none;
}

.media-modal-wrapper.open {
  opacity: 1;
  scale: 1;
  pointer-events: all;
}

.media-modal-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 100%;
  height: 100%;
  background-image: var(--gradient_modal);
  border-radius: 20px;
  overflow: hidden;
}

.media-modal {
  display: inline-flex;
  width: 100%;
  height: calc(100% - 35px);
  gap: 50px;
  transition: var(--transition);
}

.media-modal .modal-img {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

.media-modal .modal-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal-btns {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 30px;
}

.modal-btns button {
  background-color: transparent;
  border: none;
  height: 25px;
  scale: 1;
  opacity: 1;
  transition: var(--transition);
  cursor: pointer;
}

.modal-btns button.hide {
  opacity: 0;
  pointer-events: none;
}

.modal-btns button:hover {
  scale: 1.1;
}

.modal-btns button.prev {
  rotate: 180deg;
}

.media-modal-container button.close {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  filter: invert(1);
  cursor: pointer;
}

@media (min-width: 550px) {
  .media-gallery .page {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 800px) {
  .media-gallery .page {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1280px) {
  .media-main-nav {
    flex-direction: column;
    justify-content: start;
    gap: 20px;
  }

  .media-main-nav a {
    width: 100%;
    height: 62px;
  }

  .media-gallery-wrapper {
    margin-top: 50px;
    grid-template-columns: 246px 1fr;
    gap: 30px;
  }

  .media-modal-wrapper {
    padding: 50px;
  }

  .media-modal-container button.close {
    top: 75px;
    right: 75px
  }

  .media-modal {
    height: calc(100% - 60px);
  }

  .modal-btns {
    height: 60px;
  }

  .modal-btns button {
    height: 50px;
  }

  .modal-btns button img{
    width: 30px;
    height: 49px;
  }

  .media-modal-container {
    padding: 50px;
  }

  .media-modal .modal-img img {
    width: 100%;
  }
}
