nav.offer-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 0 30px;
}

nav.offer-nav a,
nav.offer-nav a:before,
nav.offer-nav a span {
  cursor: pointer;
}

nav.offer-nav a {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 84px 1fr;
  background-image: var(--gradient_secondary);
  width: 100%;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  transition: var(--transition);
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 324px;
  text-decoration: none;
  min-height: 139px;
}

nav.offer-nav a:hover {
  scale: 1.05;
}

nav.offer-nav a::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: var(--bg-main);
  top: 1px;
  left: 1px;
  border-radius: 20px;
  z-index: -1;
}

nav.offer-nav a.active::after {
  background-image: var(--gradient_fifth);
}

nav.offer-nav a span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 13px;
  line-height: 17px;
  font-weight: var(--bold);
  text-align: center;
  padding: 5px 5px;
}

nav.offer-nav a .image-container {
  position: relative;
  width: 100%;
  max-width: 100px;
  height: 100%;
}

nav.offer-nav a .image-container img {
  position: absolute;
  bottom: 15px;
}

nav.offer-nav a .image-container img.first {
  left: 5%;
}

nav.offer-nav a .image-container img.second {
  left: 50%;
  transform: translateX(-50%);
}

nav.offer-nav a .image-container img.third {
  right: 5%;
}

@media (min-width: 1280px) {
  nav.offer-nav {
    padding: 0 0 50px;
  }

  nav.offer-nav a {
    grid-template-rows: 1fr 80px;
    min-height: 345px;
  }

  nav.offer-nav a span {
    font-size: 24px;
    line-height: 30px;
  }
  nav.offer-nav a img {
    height: 234px;
    width: auto;
  }

  nav.offer-nav a .image-container {
    max-width: 95%;
  }

  nav.offer-nav a .image-container img.first {
    height: 122px;
    width: 121px;
    top: 15px;
    bottom: unset;
  }

  nav.offer-nav a .image-container img.second {
    height: 127px;
    width: 121px;
  }

  nav.offer-nav a .image-container img.third {
    height: 107px;
    width: 105px;
    top: 15px;
    bottom: unset;
  }
}
