:root {
  --bg-main: #171113;
  --border-margin: 15px;
  --transition: 0.2s;
  --gradient_main: linear-gradient(
    to left,
    #302760 25%,
    #7a2a79 50%,
    #302760 100%
  );
  --gradient_secondary: linear-gradient(
    to right,
    #de202e 0%,
    #aa265f 54%,
    #8a2a7e 100%
  );
  --gradient_third: linear-gradient(to right, #aa3888 0%, #343b86 100%);
  --gradient_fourth: linear-gradient(to right, #343b86b3 0%, #cc202cb3 100%);
  --gradient_fifth: linear-gradient(to right, #343b86 0%, #8a2a7e 100%);
  --z1: 100;
  --z2: 99;
  --z3: 98;
  --big-size: 24px;
  --size: 18px;
  --light: 300;
  --normal: 400;
  --bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: var(--normal);
  font-style: normal;
  color: #fff;
  font-size: var(--size);
}

/* helper classes */
.bold {
  font-weight: var(--bold);
}

.heading {
  font-size: var(--big-size);
  font-weight: var(--bold);
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  width: 200px;
  height: 38px;
  font-size: var(--size);
  font-weight: var(--normal);
  background-image: var(--gradient_main);
  background-size: 200% 100%;
  background-position: 100% 0;
  border-radius: 17px;
  text-decoration: none;
  transition: var(--transition);
}

.cta:hover {
  background-position: 0% 100%;
}

.cta.second {
  position: relative;
  width: 100%;
  max-width: 300px;
  min-width: 240px;
  height: 38px;
  align-self: center;
  cursor: pointer;
}

.cta.second:hover {
  background-position: 100% 0;
}

.cta.second::before,
.cta.second::after {
  display: block;
  position: absolute;
  content: "";
  border-radius: 17px;
}

.cta.second::before {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background-color: var(--bg-main);
}

.cta.second::after {
  width: 100%;
  height: 100%;
  background-image: var(--gradient_main);
  background-size: 200% 100%;
  background-position: 100% 0;
  opacity: 0;
  transition: var(--transition);
}

.cta.second:hover:after {
  opacity: 1;
}

.cta.second span {
  position: relative;
  font-weight: var(--normal);
  z-index: var(--z3);
}

.cta,
button,
a {
  cursor: pointer;
}

strong {
  font-weight: var(--bold);
}

/* end helper classes */

body {
  width: 100vw;
  background-color: var(--bg-main);
  overflow-x: hidden;
}

.wrapper {
  margin-top: 80px;
  padding: 0 var(--border-margin);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (min-width: 600px) {
  :root {
    --big-size: 36px;
  }

  /* helper classes */

  .cta.second {
    max-width: 400px;
    margin: 0 auto;
  }

  /* end helper classes */
}

@media (min-width: 1280px) {
  :root {
    --border-margin: 10px;
    --big-size: 36px;
    --size: 30px;
    /* --width: 1640px; */
    --width: 1220px;
    --full-width: 1920px;
  }

  /* helper classes */

  .cta {
    height: 100px;
    font-size: 40px;
  }

  .cta.second span {
    font-size: 18px;
  }

  /* helper classes */

  body {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--full-width);
  }

  .wrapper {
    max-width: var(--width);
    margin-top: 115px;
    margin-left: auto;
    margin-right: auto;
  }
}
