.about-page {
  margin-top: 80px;
  padding: 0 var(--border-margin);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info {
  margin-bottom: 15px;
}

p {
  margin-top: 20px;
}

.text {
  font-size: var(--size);
  line-height: 30px;
}

.info-img {
  margin-top: 10px;
  width: 100%;
}

.info-img img {
  width: 100%;
  height: auto;
}

strong {
  font-weight: var(--bold);
}
