nav {
  position: fixed;
  padding: 9px var(--border-margin);
  width: 100%;
  height: 50px;
  background-color: var(--bg-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: var(--z1);
}

nav::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-main);
  transform: translateX(100%);
  transition: var(--transition);
  pointer-events: none;
}

body.menu nav::before {
  transform: translateX(0%);
}

nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .logo img {
  /* filter: grayscale(1) invert(1) contrast(2); */
  width: 77px;
  height: auto;
  z-index: var(--z2);
}

nav ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 75px;
  width: 100%;
  left: 0%;
  opacity: 0;
  transform: translateX(100%);
  transition: var(--transition);
}

body.menu nav ul {
  opacity: 1;
  transform: translateX(0%);
}

nav ul li {
  list-style: none;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  opacity: 1;
  transition: var(--transition);
}

nav ul li a:hover {
  opacity: 0.6;
}

nav button.hamburger {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

nav button.hamburger img {
  width: 50px;
  height: auto;
  filter: invert(1);
}

nav button.hamburger img.open {
  display: block;
}

nav button.hamburger img.close {
  display: none;
}

body.menu nav button.hamburger img.open {
  display: none;
}

body.menu nav button.hamburger img.close {
  display: block;
}

@media (min-width: 1280px) {
  nav {
    max-width: var(--full-width);
  }

  nav {
    margin-left: auto;
    margin-right: auto;
  }

  nav {
    left: 0;
    right: 0;
    height: 75px;
    padding: 0 var(--border-margin);
  }

  nav .logo img {
    width: 138px;
  }

  nav ul {
    position: static;
    display: flex;
    flex-direction: row;
    gap: 140px;
    top: unset;
    width: auto;
    left: unset;
    opacity: 1;
    transform: unset;
  }

  nav ul li a {
    font-size: 18px;
  }

  nav::before,
  nav button.hamburger {
    display: none;
  }
}

@media (min-width: 1640px) and (max-width: 1919px) {
  nav {
    padding: 0 calc((100vw - var(--width)) / 2 + var(--border-margin));
  }
}

@media (min-width: 1920px) {
  nav {
    padding: 0
      calc(calc((var(--full-width) - var(--width)) / 2) + var(--border-margin));
  }
}
