section.hero {
  position: relative;
  top: 50px;
  width: 100%;
  height: 194px;
  display: flex;
  justify-content: end;
  overflow: hidden;
}

section.hero img {
  object-fit: cover;
  height: 99%;
}

section.hero.hero-about img {
  width: 75%;
  object-position: top;
}

section.hero header {
  position: absolute;
  top: 0;
  left: var(--border-margin);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: fit-content;
  height: 100%;
}

section.hero header h1.heading span {
  font-size: var(--big-size);
}

section.hero header h1 {
  font-weight: var(--normal);
}

section.hero .heading.underline {
  position: relative;
  display: inline-block;
  padding-bottom: 130px;
  font-weight: var(--bold);
  overflow: visible;
  z-index: 1;
}

section.hero .heading.underline::before {
  content: "";
  display: block;
  position: absolute;
  top: 19px;
  left: -3px;
  width: calc(100% + 3px);
  height: 10px;
  border-radius: 3px;
  background-image: linear-gradient(to right, #8b2b80, #dd2427);
  z-index: -1;
}

section.hero.hero-about::after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 45%;
  background-image: linear-gradient(
    to right,
    var(--bg-main) 75%,
    transparent 85%
  );
  top: 0;
  left: 0;
}

@media (min-width: 600px) {
  section.hero .heading.underline::before {
    top: 30px;
  }

  section.hero {
    height: 400px;
  }
}

@media (min-width: 1280px) {
  br.mobile-br {
    display: none;
  }

  section.hero {
    position: relative;
    display: flex;
    justify-content: end;
    top: 75px;
    height: 575px;
    padding-right: 10px;
  }

  section.hero header {
    gap: 100px;
    left: 10px;
  }

  section.hero header h1.heading span,
  section.hero header h1 {
    font-size: 60px;
  }

  section.hero img {
    width: auto;
    height: 574px;
  }

  section.hero:before {
    position: absolute;
    display: block;
    content: "";
    width: 50px;
    height: 100%;
    background-image: linear-gradient(to right, transparent, var(--bg-main));
    top: 0;
    right: 8px;
  }

  section.hero .cta {
    min-width: 586px;
  }

  section.hero .heading.underline {
    padding-bottom: 250px;
  }

  section.hero .heading.underline::before {
    top: 45px;
    height: 30px;
  }

  section.hero.hero-about::after {
    width: 50%;
    background-image: linear-gradient(
      to right,
      var(--bg-main) 50%,
      transparent 100%
    );
  }
}

@media (min-width: 1640px) and (max-width: 1919px) {
  section.hero header {
    left: calc((100vw - var(--width)) / 2 + var(--border-margin));
  }
}

@media (min-width: 1920px) {
  section.hero header {
    left: calc(
      calc((var(--full-width) - var(--width)) / 2) + var(--border-margin)
    );
  }
}
